 body{
	 background-color : rgb(169, 225, 229) ;
	 color : rgb(60, 102, 238) ;
 }
 .formulaireSuggestions{
	 background-color : rgb(241, 183, 255);
	 border : ridge rgb(241, 151, 255) 10px ;
	 border-radius : 8px ; 
	 padding : 10px ;
 }
 .texteSuggestion{
	 height : 350px ;
	 width : 470px ;
	 margin : 10px ;
 }
 .encadréSuggestion{
	 border : none ;
	 padding-bottom : 10px ;
 }