body{
	width:100%;
	background-color:#F6FFF8;
	font-family: Times New Roman;
	margin-left:0;
	margin-top:0;
}

.titre{
	width:100%;
	height:400px;
	margin:0;
	padding:0;
}

h1{
	font-family: Times New Roman;
	font-size:40px;
	font-style : italic;
	font-weight:bold; 
	text-decoration: underline; 
	border : ridge white 10px; 
	background-color:white;
	width:70%;
	margin:20px;
	padding:5px;
	text-align:center;
	margin-right: auto; 
	margin-left: auto;
}

.premier{
	font-size:20px; 
	color : rgb(11,83,69); 
	font-weight:bold;
	text-align:center;
}


.photo1{
	text-align:center;
	padding:20px;
	background-color:white;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	border:solid 1px rgb(11,83,69);
	
}


.présentation{
	width:400px;
	height:600px;
}


.materiel{
	width:300px;
	height:400px;
	margin-left:100px;
}

#liste-mat{
	display:grid;
}

.mat{
	margin:30px;
	grid-column : 1;
	width:200px;
}

.liste{
	margin:30px;
	margin-top:80px;
	grid-column : 2 ; 
	font-size:25px;
	width:400px;
	padding:20px;
	color : black;
	height:300px;
}

ul{
	font-size:20px;
}

.titre-materiel{
	border: solid white 1px;
	padding-left:10px;
}


.titre-materiel:first-letter{
	font-size:200%;
	font-style:italic;
}

#etape{
	display:grid;
}

.num1{
	grid-row:1;
	grid-column:1;
	margin:30px;
	padding:20px;
	background-color:white;
	text-align:center;
	border:solid 1px black;
}

.num2{
	grid-row:1;
	grid-column:2;
	margin:30px;
	padding:20px;
	background-color:white;
	text-align:center;
	border:solid 1px black;
}

.num3{
	grid-row:1;
	grid-column:3;
	margin:30px;
	padding:20px;
	background-color:white;
	text-align:center;
	border:solid 1px black;
}

.num4{
	grid-row:2;
	grid-column:1;
	margin:30px;
	padding:20px;
	background-color:white;
	text-align:center;
	border:solid 1px black;
}

.num5{
	grid-row:2;
	grid-column:2;
	margin:30px;
	padding:20px;
	background-color:white;
	text-align:center;
	border:solid 1px black;
}

.num6{
	grid-row:2;
	grid-column:3;
	margin:30px;
	padding:20px;
	background-color:white;
	text-align:center;
	border:solid 1px black;
}

.photo-descrip{
	width:350px;
	height:400px;
}

.titre-etape{
	font-size:20px;
	text-decoration:underline;
}

.descrip{
	font-size:17px;
	font-weight:bold;
}

.num7{
	grid-row:3;
	grid-column:1;
	margin:30px;
	padding:20px;
	background-color:white;
	text-align:center;
	border:solid 1px black;
}

